<link rel="stylesheet" href="/css/home.css">
<link rel="stylesheet" href="/css/chat_box.css">

<%- include('_header'); %>

<div class="container">

    <section class="codeial-people" id="user-friends">
        <h3 class="people-heading">People on Codeial</h3>
        <% for(u of all_users){%>
        <div class="users">
            <a href="/users/profile/<%= u.id %>"><%= u.name %></a>
        </div>
        <% } %>
    </section>

    <section id="feed-posts" class="home-container">
        <% if(locals.user){ %>
        <div class="post-container">
            <h2 class="userName">Welcome, <%= locals.user.name%>!</h2>
            <div class="form-container">
                <form action="/posts/create" id="new-post-form" method="POST">
                    <textarea name="content" rows="3" cols="30" placeholder="Post something intresting ...."
                        required></textarea>
                    <br>
                    <button class="submit-btn" type="submit">Post</button>
                </form>
            </div>
        </div>
        <% } %>

        <div id="posts-list-container">

            <ul class="post-ul">
                <% for(post of posts){ %>

                <%- include('_post') -%>

                <%} %>
            </ul>
        </div>
    </section>

    <% if(locals.user){%>
    <section class="friends-container">
        <h4 class="title">Your Friends</h4>
        <% for(u of addedFriends) {%>
        <div class="user-friends-list"><a href="/users/profile/<%= u._id %>"><%= u.name %></a></div>
        <% } %>
    </section>
    <%}%>


     <%- include('_chat_box') -%>
</div>




<!-- importing this script for creating the comments -->
<script src="/js/home_post_comments.js"></script>
<script src="/js/home_posts.js"></script>
<script src="/js/chat_engine.js"></script>

<!-- CHANGE :: import the script file for toggle likes , also run it over for the alreadt present posts and comments on the page  -->

<script src="/js/toggle_likes.js"></script>
<script>
    $(".toggle-like-button").each(function () {
        let self = this;
        let toggleLike = new ToggleLike(self);
    })
</script>

<script type="text/JavaScript" src=" https://MomentJS.com/downloads/moment.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.2.0/socket.io.js"></script>
<% if (locals.user){ %>
<script>
    new ChatEngine('user-chat-box', '<%= locals.user.email %>')
</script>
<% } %>


<%- include('_footer.ejs') -%>