        <link rel="stylesheet" href="/css/user_profile.css">

        <%- include('_header'); %>
        <% if(user.id == profile_user.id){ %>

        <div id="header-container">
            <div id="cover-pic"></div>
            <div id="profile-details">
                <% if(user.avatar) { %>
                <div id="profile-pic"><img src="<%= user.avatar %>" alt="<%= user.name %>"></div>
                <% }else { %>
                <div id="profile-pic"><img src="/images/default-avatar.jpg" alt="<%= user.name %>"></div>
                <% } %>
                <div id="user-details">
                    <div id="user-name"><%= user.name %></div>
                    <% if(user.about) {%>
                    <div id="user-about"><%= user.about %></div>
                    <% } %>
                </div>
            </div>
            <div id="edit-profile-button"><i class="fas fa-edit"></i>&nbsp;&nbsp;Edit Profile</div>
        </div>

        <!-- if user matches then show the form -->
        <div id="edit-profile" class="profile-container">
            <form action="/users/update/<%= profile_user.id %>" method="POST" enctype="multipart/form-data">
                <div id="edit-profile-div-1" class="form-container">
                    <div class="comn">
                        <div>
                            <lable for="name">Name</lable>
                        </div>
                        <input type="text" id="name" name="name" placeholder="Your Name"
                            value="<%= profile_user.name %>" required>
                    </div>

                    <div class="comn">
                        <div>
                            <lable for="name">E-mail</lable>
                        </div>
                        <input type="email" id="email" name="email" placeholder="Your Email"
                            value="<%= profile_user.email %>" required>
                    </div>

                    <div class="comn">
                        <div>
                            <lable for="about">About</lable>
                        </div>
                        <input type="text" id="about" name="about" placeholder="Write something about yourself">
                    </div>

                    <div class="comn">
                        <div>
                            <lable for="name">Profile Picture</lable>
                            <input type="file" id="avatar" name="avatar" placeholder="Profile Picture">
                        </div>
                    </div>
                </div>
                <div id="buttons" class="buttons">
                    <button type="submit" class="sub-btn" value="Update">Submit</button>
                    <div id="cancel-button" class="cnl-btn">Cancel</div>
                </div>
            </form>
        </div>
        <%}else{%>
        <!--Else show profile info only-->
        <div id="header-container">
            <div id="cover-pic"></div>
            <div id="profile-details">
                <% if(profile_user.avatar) { %>
                <div id="profile-pic"><img src="<%= profile_user.avatar %>" alt="<%= profile_user.name %>"></div>
                <% }else { %>
                <div id="profile-pic"><img src="/images/default-avatar.jpg" alt="<%= profile_user.name %>"></div>
                <% } %>
                <div id="user-details">
                    <div id="user-name"><%= profile_user.name %></div>
                    <% if(profile_user.about) {%>
                    <div id="user-about"><%= profile_user.about %></div>
                    <% } %>
                </div>
            </div>
            <% if(isFriend) { %>
            <div id="follow-user-button" class="req-btn"><a
                    href="/users/remove-friend/<%= profile_user.id %>">Unfriend</a></div>
            <% }else if(acceptOrRejectRequest){ %>
            <div class="req-btn-container">
                <div id="follow-user-button" class="r-btn-accept">
                    <a href="/users/accept-friend-request/<%= profile_user.id %>"><i class="fas fa-check-circle">Accept
                            Request</i>
                    </a>
                </div>
                <div id="follow-user-button" class="r-btn-reject">
                    <a href="/users/reject-friend-request/<%= profile_user.id %>"><i class="fas fa-times-circle">Reject
                            Request</i>
                    </a>
                </div>
            </div>

            <% }else if(awaitingResponse){ %>
            <div id="follow-user-button" class="req-btn">
                <a href="">Request Sent</a>
            </div>
            <%} else { %>
            <div id="follow-user-button" class="req-btn"><a href="/users/send-friend-request/<%= profile_user.id %>">Add
                    Friend</a>
            </div>
            <% } %>

        </div>
        <% } %>



        <% if(user.id == profile_user.id) { %>
        <script>
            let editButton = document.getElementById('edit-profile-button');
            editButton.addEventListener('click', function () {
                document.getElementById('edit-profile').style.display = 'block';
            });
            let cancelButton = document.getElementById('cancel-button');
            cancelButton.addEventListener('click', function () {
                document.getElementById('edit-profile').style.display = 'none';
            });
        </script>
        <% } %>